<a href="https://colab.research.google.com/github/mish841/RAISE-26-Data-Science-AI-Competition-Submission/blob/mariam-phase2-progress/Data_Science_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from collections import Counter

DATA_PATH = "dataset_A_news_full_10500.csv"
# df = pd.read_csv("dataset_A_news_full_10500.csv")


df = pd.read_csv(DATA_PATH)

df.head()
df.info()
df.isna().sum().sort_values(ascending=False).head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10500 entries, 0 to 10499
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   title                       10500 non-null  object
 1   link                        10500 non-null  object
 2   date                        10500 non-null  object
 3   source                      10500 non-null  object
 4   number_of_characters_title  10500 non-null  int64
 5   number_of_words_title       10500 non-null  int64
 6   day_of_week                 10500 non-null  object
 7   month                       10500 non-null  object
 8   year                        10500 non-null  int64
 9   quarter                     10500 non-null  int64
 10  is_weekend                  10500 non-null  bool
 11  classes_str                 10500 non-null  object
dtypes: bool(1), int64(4), object(7)
memory usage: 912.7+ KB

title                         0
link                          0
date                          0
source                        0
number_of_characters_title    0
number_of_words_title         0
day_of_week                   0
month                         0
year                          0
quarter                       0
is_weekend                    0
classes_str                   0
dtype: int64

In [7]:
all_classes = []
for classes_str in df['classes_str']:
    classes = [c.strip() for c in str(classes_str).split(';')]
    all_classes.extend(classes)

# Count occurrences
class_counts = Counter(all_classes)

# Convert to DataFrame
class_df = pd.DataFrame(
    class_counts.items(),
    columns=['class', 'count']
).sort_values('count', ascending=False).reset_index(drop=True)

print(f"\nTotal unique classes found: {len(class_df)}")
print(f"\nTop 12 Most Frequent Classes:\n")
print(class_df.head(15).to_string(index=False))

Total unique classes found: 12

Top 12 Most Frequent Classes:

                                   class  count
                    Work, Jobs & Economy   2526
         Learning, Knowledge & Education   1946
                Technology & Interaction   1733
               Society, Ethics & Culture   1584
           Routine, Lifestyle & Behavior   1479
Sentiment (Positive / Negative Feelings)   1441
                             Human Roles   1256
                   Health, Safety & Risk   1230
       Creativity, Expression & Identity    877
             Cognitive & Decision-Making    832
      Social Interaction & Relationships    730
        Emotion, Motivation & Well-being    551

In [16]:
DOMAIN_MAP = {
    "Work": "Work, Jobs & Economy",
    "Health": "Health, Safety & Risk",
    "Education": "Learning, Knowledge & Education",
    "Sentiment": "Sentiment (Positive / Negative Feelings)",
    "Emotion": "Emotion, Motivation & Well-being",
    "Human Roles": "Human Roles",
    "Lifestyle": "Routine, Lifestyle & Behavior:",
    "Cognitive": "Cognitive & Decision-Making",
    "Creativity": "Creativity, Expression & Identity",
    "Relationship": "Social Interaction & Relationships",
    "Society": "Society, Ethics & Culture",
    "Technology": "Technology & Interaction"

}

In [17]:
def classify_domain(classes_str, domain_keywords):
    """
    Classify article into domains based on keyword matching.
    An article can belong to multiple domains.
    """
    classes_str_lower = str(classes_str).lower()
    domains = []

    for domain, keywords in domain_keywords.items():
        for keyword in keywords:
            if keyword.lower() in classes_str_lower:
                domains.append(domain)
                break  # Once matched, move to next domain

    return domains if domains else ['Other']

# Apply classification
df['domains'] = df['classes_str'].apply(
    lambda x: classify_domain(x, domain_keywords)
)

In [18]:
# Flatten domains (since articles can have multiple domains)
all_domains = []
for domains in df['domains']:
    all_domains.extend(domains)

domain_counts = Counter(all_domains)
domain_df = pd.DataFrame(
    domain_counts.items(),
    columns=['Domain', 'Article_Count']
).sort_values('Article_Count', ascending=False).reset_index(drop=True)

print("\nArticles per Domain:")
print(domain_df.to_string(index=False))

print(f"\nTotal articles: {len(df)}")
print(f"Note: Articles can belong to multiple domains")

Articles per Domain:
       Domain  Article_Count
         Work           3435
   Technology           2872
    Education           1946
      Society           1584
     Behavior           1479
      Emotion           1441
       Health           1230
   Creativity            877
Relationships            730
        Other            135

Total articles: 10500
Note: Articles can belong to multiple domains